*{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: blue;
    height: 400px;
}

.container-div{
    background-color: red;
    width: 200px;
    height: 200px;
}

.parrafo{
    font-size: 15;
    font-weight: bold;
}

@media (max-width: 600px) {
    .container{
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-div{
        height: 250;
        background-color: orange;
    }

    .parrafo{
        text-align: center;
    }
}

@media (max-width: 900px) and (min-width:600px) {
    .container{
        background-color: pink;
    }

    .parrafo{
        font-size: 20;
        font-weight: 200;
    }
}